@import 'init'; 

// INIT COMPONENTS
input {
  @extend %input;
}

.form-group {
  text-align: start;
  width: 100%;
  margin-bottom: 15px;
  position: relative;

  .preview-img {
    @include flex(flex-start, center);
    gap: 10px;
    margin-bottom: 5px;

    .btn-delete-profile {
      color: $primary-red;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
    
    img {
      width: 150px;
      object-fit: cover;
      display: block;
      cursor: pointer;
      transition: .3s;
      
      &:hover {
        opacity: .7;
        transform: scale(1.1);
      }
    }  
  }

  .form-checkbox {
    margin-top: 7px;
    input[type="checkbox"] {
      cursor: pointer;
      width: auto;
      transform: scale(1.2);
      display: inline;
      accent-color: $primary;
      margin-right: 5px;
    }
  }

  .form-date-toggle {
    margin-top: 10px;
    display: none;
  }

  textarea {
    @extend %input;
    padding: 15px;
    resize: none;
    height: 100px;
    margin-top: 7px;
  }

  label {
    color: $primary;
    font-size: 15px;
    font-weight: 500;
  }

  input {
    @extend %input;
    margin-top: 7px;
  }  
  select {
    @extend %select;
    margin-top: 7px;
    background-color: #fff;
    cursor: pointer;
  }

  .invalid-feedback {
    color: $primary-red;
    font-size: 14px;
  }

  .required-icon {
    color: $primary-red;
    font-size: 20px;
    font-weight: bold;
  }

  i.eye-icon {
    @include position(absolute, 68%, auto, 12px, auto);
    font-size: 22px;
    transform: translateY(-50%);
    color: $primary;
    cursor: pointer;
  }

  .form-input-guide {
    @include position(absolute, 6px, auto, 0, auto);
    font-size: 14px;
    color: #6c6c6c;
    font-weight: 600;
  }
}


header {
  background-color: rgba(165, 227, 255, .3);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #e3f6ff70;
  z-index: 3;

  .logo {
    @extend %logo-template;
    
    &::after {
      @include position(absolute, auto, -7px, auto, -4px);
      width: 120px;
      height: 35px;
    }
  }

  .navbar {
    .nav-link {
      color: $logo-color;
      font-size: 16px;
      transition: .3s;
    }
    .nav-link:hover {
      color: $secondary-hover;
    }
    .btn:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.hero-container {
  width: 100%;
  background: url('../images/hero.jpg') no-repeat center center/cover;
  min-height: 525px;

  &::after {
    content: '';
    @include position(absolute);
    background-color: rgba(0,0,0,.6);
    z-index: 1;
    border-radius: 10px;
  }

  .hero-content {
    z-index: 2;

    .hero-logo {
      @extend %logo-template;
      &::after {
        @include position(absolute, auto, -15px, auto, -7px);
        width: 215px;
        height: 62px;
      }
    }
  }

  .hero-form {
    @include position(absolute, auto, 50%, auto, -50px);
    transform: translateX(-50%);
    z-index: 2;
    width: 475px;

    .form-radios {
      gap: 20px;
      .form-radio {
        font-size: 17px;
        label {
          cursor: pointer;
          color: $primary-hover;
        }
        input[type="radio"] {
          display: inline;
          width: auto;
          cursor: pointer;
          transform: scale(1.3);
          accent-color: $primary;
        }
      }
    }
  }
}

.features {
  .feature-cards {
    flex-wrap: wrap;

    .card {
      width: 31%;
      background-color: #fff;
      padding: 22px 20px 32px;
      border-radius: 10px;
      border-bottom: 7px solid $logo-color;

      .card-title {
        font-size: 25px;
        color: $primary;
      }

      .card-text {
        margin: 15px 0 30px;
        color: $primary-hover;
        font-size: 15px;
      }
    }
  }
}

footer {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

// AUTH
.auth-container {
  max-width: 500px;
  overflow: hidden;

  .auth-header { border-bottom: 1px solid $logo-color; }
  .auth-image { text-shadow: 0 5px 20px rgba(12, 11, 82, .3); }

  .auth-form {
    width: 85%;
    .auth-btn { width: 100%; }

    .auth-small-text {
      color: #6c6c6c;
      width: 100%;
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// USER
.user-board {
  width: 100%;
  background: url(../images/bg-dot.webp);

  * {
    position: relative;
  }

  &::before {
    content: '';
    @include position(absolute, 0,0,0,0);
    background-color: rgba(227, 246, 255, .35);
    border-radius: 10px;
  }

  h1.user-board-title { border-left: 3.5px solid $primary; }
  h4.user-board-subtitle { color: $primary-hover; }
  
  .user-profile {
    .user-profile-left {
      flex: 1;
      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: center;
        border: solid 1px #6c6c6c;
        cursor: pointer;
      }
      .user-profile-buttons {
        width: 70%;
        row-gap: 10px;
        .btn-copy-code { width: 100%; }

        .link-actions { 
          column-gap: 10px;
          width: 100%;
          * {
            flex: 1;
          }
        } 
      }
    }

    .user-profile-right {
      flex: 1;
      gap: 22px;
      .box-top  {
        width: 100%;
        gap: 10px;

        div {
          gap: 12px;
          flex: 1;
          height: 150px;
          border: 3px solid $logo-color;
        }
      }
      .box-bottom {
        width: 100%;
        gap: 15px;

        .create-voting, .join-voting {
          width: 100%;
          border: 1px solid $primary;
        }

        .join-voting {
          gap: 20px;
          
          .join-voting-text { width: 100%; }
          .join-voting-form {
            width: 100%;
            form {
              column-gap: 12px;
              input { flex: 4; }
            }
          }
        }
      }
    }
  }

  .user-votings > .voting-container {
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;

    .voting-box {
      flex: 0 0 calc(25% - 10px);
      .btn-detail { width: 100%; }
    }
  }
}

.pages-board {
  width: 100%;
  .pages-form { width: 100%; }
}

.create-voting-form {
  width: 100%;
  gap: 25px;

  .voting-data,.voting-options {
    flex: 1;
  }
}

// ERROR PAGE
.error-container > img {
  width: 430px;
}

.modal-img-overlay {
  @include flex;
  @include position(fixed, 0,0,0,0);
  display: none;
  background-color: rgba(0,0,0,.8);
  z-index: 999999;

  .modal-img-content {
    width: 600px;
    height: 500px;

    img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .close-modal {
    @include position(absolute, 35px, auto, 50px, auto);
    color: $primary-red;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    font-size: 50px;
    transition: .3s;

    &:hover {
      transform: scale(1.2);
    }
  }
}